@import "./src/common/styles/sass/variables.scss";

.nav {
  width: 590px;
  display: flex;
  justify-content: space-between;
  transition: 1s;

  @media screen and (max-width: 1100px) {
    max-width: 500px;
  }
  @media screen and (max-width: 660px) {
    max-width: 450px;
  }
  @media screen and (max-width: 600px) {
   max-width: 380px;
  }
  @media screen and (max-width: 550px) {
    max-width: 350px;
  }
  @media screen and (max-width: 500px) {
    max-width: 300px;
  }
  @media screen and (max-width: 400px) {
    max-width: 270px;
  }

  .link {
    color: #E4E4E4;
    font-size: 18px;
    text-decoration: none;
  }

  a:hover {
    color: $mainColor;
    text-decoration: underline;
  }
}


