.skill {
    width: 200px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icon {
    width: 60px;
    height: 60px;
    background-color: #000;
}

.skill h3 {
    margin: 0;
}