.worksBlock {
    height: 100vh;
    background-color: #9ad9c6;
}
.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid;
}
.title {

}
.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}