.worksBlock {
    min-height: 100vh;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid;
}



.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 1179px) {
    .works {
        justify-content: center;
    }
}