@import "src/common/styles/sass/variables.scss";

.skillsBlock {
  padding: 30px;
  background-color: $bgSecondColor;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

  }

  .skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 80px;
    padding: 30px 0;
    @media screen and (max-width: 1024px) {
      justify-content: center;
    }
  }

}





