@import "src/common/styles/sass/variables.scss";

.skillsBlock {
    min-height: 100vh;
    background-color: $bgSecondColor;
    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;

    }
    .skills {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }
}





