.mainBlock {
    height: 100vh;
    background-color: gainsboro;

}

.personInfo {
    width: 300px;
    background-color: #9b9c9f;
}

.personPhoto {
    width: 340px;
    height: 380px;
    background-color: aliceblue;
}