@import "src/common/styles/sass/variables.scss";

.mainBlock {
  background-color: $bgColor;
  color: $textColor;
  margin-top: 20px;
  @media screen and (max-width: 1250px) {
    margin-top: 40px;
  }
  @media screen and (max-width: 1034px) {
    margin-top: 60px;
  }

  .personInfo {
    width: 365px;

    & span {
      font-size: 36px;
    }

    & h1 {
      padding: 0;
      margin: 0;
      font-size: 48px;
    }

    & p {
      font-size: 18px;
      margin-top: 20px;
    }
  }

  .personPhoto {
    max-width: 600px;

    & img {
      width: 100%;
    }
  }
}




